.left-side.sidebar {
    width: 29%;
    background-color: #E5EAED;
    position: fixed;
    overflow: auto;
    height: 100vh;
}
.left-side.sidebar .main-content {
    padding: 43px 28px;
}

.right-side {
    width: 71%;
    margin-right: 0;
    margin-left: auto;
}
div#create-page-sidebar {
    height: 100%;
    padding: 88px 0px;
}
.sidebar-footer {
    height: 88px;
    bottom: 0;
    display: block;
    position: -webkit-sticky;
    position: fixed;
    left: 0;
    width: 29%;
}

input[type=file] {
    display: none;
}
.image-container>div.no-image {cursor:pointer;width: 100px;height: 100px;background: white;border-radius: 15px;display: flex;align-items: center;justify-content: center;margin-top: 4px;}
